@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html, body{
  padding: 0;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

.App {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
} 

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  background-color: #1e1e1e;
  padding: 10px;
  width: 90px;
  height: 100vh;
  transition: width 0.3s ease-in-out;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  border-radius: 8px;
}

.sidebar-footer {
  padding: 10px;
  text-align: center;
}

.toggle-button {
  margin: 10px;
}

.link-icon {
  margin: 5px;
}

.sidebar .nav-link > p {
  margin: 5px;
  font-size: 1em;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
}

.sidebar .nav-link:hover {
  background-color: #e4e4e4;
  color: #000000;
}

.logout-button {
  margin-top: 10px;
}

.header {
  text-align: start;
  color: white;
  padding: 3vh;
  background-color: rgb(68, 68, 68);
  box-shadow: 6px 8px 10px grey;
  margin-bottom: 5vh;
}

.header-center {
  display: flex;
  justify-content: center;
  color: white;
  padding: 3vh;
  margin-bottom: 5vh;
  background-color: rgb(68, 68, 68);
  box-shadow: 6px 8px 10px grey;
}

.header-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  text-align: start;
  color: white;
  padding: 3vh;
  margin-bottom: 5vh;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.3)), url("./assets/laser.svg");
  background-size: cover;
  background-position: 0 70%;
  box-shadow: 6px 8px 10px grey;
}

.header h2 {
  font-size: 4.55em;
  font-weight: 100;
}

.header,.header-img h1 {
  font-size: 5em;
  font-weight: 100;
}

.utm-logo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.utm-logo-start {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 8px 10px grey;
  width: 60vw;
  margin: 0 auto auto auto;
}

.greetings {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 0vw;
}

.greetings h3 {
  font-weight: 900;
  font-size: 50px;
  color: grey;
  text-shadow: 2px 2px 4px #4a4a4a;
  padding-bottom: 2vh;
}

.login-form {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 2vw;
}

.center-form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 7vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #373737;
  color: #fff;
  padding: 2rem 10rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-heading {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1rem;
}

.footer-paragraph {
  color: #ccc;
  line-height: 1.5;
  margin-top: 0.2rem;
}

@media (max-height: 100vh) {
  .main-content {
    min-height: 100vh;
  }
  
  .footer {
    position: static;
  }
} 

@media (max-width: 768px) {
  .sidebar {
    padding: 5px;
    width: 70px;
  }

  .sidebar.expanded {
    width: 150px;
  }

  .sidebar-header,
  .sidebar .nav-link {
    padding: 5px;
    margin-bottom: 5px;
  }

  .header h2,
  .header-img h1 {
    font-size: 3em;
  }

  .content {
    width: 90vw;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .greetings,
  .login-form {
    padding: 2rem 2rem;
    width: 100%;
  }

  .center-form {
    width: 80vw;
    padding: 5vh 2vw;
  }

  .footer {
    flex-direction: column;
    padding: 2rem 1rem;
  }
}


.box-container {
  display: flex;
}

.box {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #4a4a4a;
}

.box-image {
  width: 100%;
  height: auto;
}

.box-description {
  margin-top: 10px;
}

.box-description h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.box-description p {
  font-size: 14px;
  color: #888;
}

.box-link{
  text-decoration: none;
}

.listing-container {
  /* border: 1px solid #ccc; */
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: auto;
  height: 60vh;
}

.listing-header {
  /* border: 1px solid #ccc; */
  width: 10vw;
  margin-bottom: 2rem;
}

.listing-content .listing-item td {
  text-align: center;
  padding: 20px 0;
}

.custom-list {
  border: none;
  text-align: center;
  font-size: 18px;
}

.service-form {
  display: flex;
  /* justify-content: space-around; */
  /* box-shadow: 0px 8px 10px grey; */
  width: 100%;
  margin: 0 auto auto auto;
}
.left-form {
  padding: 15px;
  box-shadow: 0px 8px 10px grey;
  width: 50%;
}
.right-form {
  padding: 15px;
  box-shadow: 0px 8px 10px grey;
  width: 50%;
}


/* .listing-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.listing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 0;
}

.listing-content {
  margin-bottom: 1rem;
}*/

/* .listing-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}  */

/* .sidebar {
  background-color: #373737;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}

.nav-menu {
  list-style: none;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  
}

.nav-links {
  color: #fff;
  text-decoration: none;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
